@use '../../../_variables' as *;
@use '../../../mixins' as *;

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: $medium;
    margin: $medium;
    width: max-content;
}
.category-card-wrapper {
    cursor: pointer;
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 100px;
    padding: $medium;
    gap: $small;
    border-radius: var(--border-radius);
    background-color: var(--bg-secondary-color);
}

.card-link {
    padding: $small $medium;

    &:hover {
        color: var(--accent-dim-color);
        @include active-indicator;
    }

    @include border;
}
