PORT=2612

NODE_ENV=development

DATABASE=
DATABASE_PASSWORD=

JWT_SECRET=
JWT_COOKIE_SECRET=
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90d

CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_SECRET=
CLOUDINARY_URL=

USER_DEFAULT_AVATAR=

MAILTRAP_HOST=
MAILTRAP_PORT=
MAILTRAP_USERNAME=
MAILTRAP_PASSWORD=
